.content-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 10px 60px 0px;
    gap: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: #27272D;
}
.myname{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.title-lgmr{
    width: 794px;
    height: 87px;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.title-desc{
    width: 843px;
    height: 73px;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.title-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 488px;
    height: 488px;
    flex: none;
    order: 1;
    flex-grow: 0;
    overflow: hidden;
    border-radius: 50%;
}
.title-img img {
    width: 100%;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 0;
}
