.content-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 10px 60px 0px;
    gap: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    background-color: #27272D;
}
.myname{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.title-lgmr{
    width: 794px;
    height: 87px;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    line-height: 96px;
    color: #FFFFFF;
    word-break: break-all;
}
.title-desc{
    width: 843px;
    height: 73px;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.title-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 488px;
    height: 488px;
    flex: none;
    order: 1;
    flex-grow: 0;
    overflow: hidden;
    border-radius: 50%;
}
.title-img img {
    width: 100%;
    height: auto;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.conhecimentos {
    background-color: #212122;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.conhecimentos div {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    flex-wrap: wrap;
}
.conhecimentos h1 {
    color: white;
    padding-top: 35px;
    padding-bottom: 25px;
    font-size: 48px;
    font-weight: 400;
}
.conhecimentos img {
    max-width: 340px;
    height: 100%;
}
